<div align="center">
    <h1>ABOUT ME</h1>
</div>
<div class="abo">
    <h3> Personal Information</h3>
    <h3> Name : Nattanicha Panpiemthong &nbsp;
        Nickname : Toey &nbsp;
        Age : 20 year &nbsp;
        Date of Birthday : 14 May 2000 &nbsp;
        Address : 136 m.1 Huay Muang Kamphaeng Saen Nakhon Pathom 73180 &nbsp;
    </h3><br>
    <h3> Education </h3>
    <h3> Basic Education : Mattayomthanbinkampangsaen <br>
        I have studied in Software Engineering major for 3 years at Ratchaphat University.

    </h3><br>
    <h3> Connect </h3>
    <h3> Tell : 0984378180 &nbsp;
        Facebook : Nattanicha Panpiemthong &nbsp;
        Instagram : toey_npan &nbsp;
        Line : nat.ta.ni.cha <br>
        Email : nattacha.pantoey@gmail.com
    </h3>

</div>