<div align="center">
    <h1>SKILL</h1>
</div><br><br>

<div class="container">
    <ul>
        <li class="html">HTML</li>
        <li class="css">CSS</li>
        <li class="php">PHP</li>
        <li class="java">JAVA</li>
        <li class="javascript">JAVASCRIPT</li>

    </ul>

</div>