*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:700px){
    main{
        flex-direction: column;
    }

    aside{
        width: 100%;
    }
    article{
        width: 100%;
    }
}

body{

    /* background: linear-gradient(130deg,rgb(255, 108, 108),rgb(255, 255, 255), rgb(50, 229, 241));  */
    background-image:url(../../img/3.jpg);
    background-size: cover;
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Merienda', cursive;
    font-size: 15px;
    color: white;
    
}

nav{
    padding: 0rem;
    background: #e24732;
    color: #ffffff;
   
}
.nav-bar{
    word-spacing:42px;
}
.nav-link{
    text-align: center;
    width:100%; 
    display: inline-block;
    border: 2px solid none;
    padding: 6px;
    color: #fff;
    text-decoration: none;
  
}

.nav-link:hover{
    background: #eb7c6d;
    color: #fff;
}

.lo{
    text-align: center;
    margin: 15%;
}


.crad_in img{
    box-shadow: 6px 7px 30px rgb(202, 0, 0);
    border-radius: 30px;
}


.pro{
    font-size: 20px;
    float: left;
}



.abo{
    /* text-align: center; */
    margin: 8%;
    margin-left: 15% ;
   background-color: none;
   border: 0px solid;

}

.container{
  width: 500px;
  margin: 50px auto 0;
  padding: 20px;
}

li{
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;

}

li::before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgb(243, 61, 29);
    border-radius: 100px;

}

li::after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(243, 118, 60, 0.877);
    border-radius: 100px; 
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html::after{
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

li.css::after{
    animation-name: css;
}

@keyframes css {
    to {
        width: 30%;
    }
}

li.php::after{
    animation-name: php;
}

@keyframes php {
    to {
        width: 50%;
    }
}

li.java::after{
    animation-name: java;
}

@keyframes java {
    to {
        width: 15%;
    }
}

li.javascript::after{
    animation-name: javascript;
}

@keyframes javascript {
    to {
        width: 15%;
    }
}

